<h1 class="header">
  공지사항
</h1>

<div class="table-container mat-elevation-z8">
    <mat-toolbar [color]="selectedNotices.length === 0 ? 'primary' : 'accent'">
        <span *ngIf="selectedNotices.length === 0"> 공지사항 </span>
        <span *ngIf="selectedNotices.length !== 0"> {{ selectedNotices.length }} selected </span>
  
        <span class="example-spacer"></span>
  
        <!-- 생성 버튼 -->
        <button 
          mat-icon-button
          *ngIf="selectedNotices.length === 0"
        >
          <mat-icon>add</mat-icon>
        </button>
  
        <!-- 수정 버튼 -->
        <button 
          mat-icon-button
          *ngIf="selectedNotices.length === 1"
        >
          <mat-icon>edit</mat-icon>
        </button>
  
        <!-- 삭제 버튼 -->
        <button 
          mat-icon-button
          *ngIf="selectedNotices.length !== 0"
        >
          <mat-icon>delete</mat-icon>
        </button>
    </mat-toolbar>

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="selected">
      <mat-header-cell *matHeaderCellDef class="checkbox"> 
        <mat-checkbox
          [indeterminate]="selectedNotices.length > 0 && selectedNotices.length < 13"
          [checked]="selectedNotices.length === 13"
          (change)="selectAllClick(notices, selectedNotices.length)"
        ></mat-checkbox>   
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="checkbox"> 
        <mat-checkbox
          [checked]="isSelected(element)"
          (change)="selectClick(element);"
        ></mat-checkbox> 
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef class="id"> ID </mat-header-cell>
      <mat-cell *matCellDef="let element" class="id"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef class="title"> 제목 </mat-header-cell>
      <mat-cell *matCellDef="let element" class="title"> {{element.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef class="date"> 날짜 </mat-header-cell>
      <mat-cell *matCellDef="let element" class="date"> {{element.date}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="row"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
