<mat-sidenav-container class="sidenav-container">
    
  <!-- Side Navigation -->
  <mat-sidenav 
    #sidenav 
    mode="side"
    opened="true"
    class="sidenav"
  >
    <!-- UserComponent -->
    <app-user></app-user>

    <!-- NavigateComponent -->
    <mat-list>
      <mat-list-item class="list-item" *ngFor="let link of links">
          <a mat-button [routerLink]="link.route" routerLinkActive="active-link" class="link">
          <!-- <a mat-button (click)="onNavigate(link.route)" class="link"> -->
          <mat-icon class="icon"> {{ link.icon }} </mat-icon> 
          <span class="text"> {{ link.title }} </span>
        </a>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>

  <!-- Header -->
  <div class="sidenav-header">
    <!-- Sice Nav Button -->
    <button mat-icon-button class="sidenav-header-button" (click)="sidenav.toggle()"> 
      <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">menu</mat-icon>
    </button>

    <!-- Header Components -->
    <app-header class="sidenav-header-toolbar"></app-header>
  </div>

  <!-- Routes Contents -->
  <div class="sidenav-contents">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>