<div class="admin-container">
  <mat-tab-group
    [dynamicHeight]="true"
    (focusChange)="selectedTab($event)"
  >
    <mat-tab label="사용자 목록">
      <router-outlet name="user"></router-outlet>
    </mat-tab>

    <mat-tab label="보고서 목록">
      <router-outlet name="report"></router-outlet>
    </mat-tab>

    <mat-tab label="멘토방 설정">
      <router-outlet name="mentoring-setting"></router-outlet>
    </mat-tab>

    <mat-tab label="멘토방 목록">
      <router-outlet name="mentoring-list"></router-outlet>
    </mat-tab>

    <mat-tab label="설문조사 설정">
      <router-outlet name="survey-setting"></router-outlet>
    </mat-tab>

    <mat-tab label="설문조사 결과">
      <router-outlet name="survey-result"></router-outlet>
    </mat-tab>

    <mat-tab label="신입생 엑셀 등록">
      <router-outlet name="excel"></router-outlet>
    </mat-tab>
  </mat-tab-group>

</div>