
<div class="mentoring-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title> 멘토 기간 설정 </mat-card-title>
    </mat-card-header>

    <mat-card-content class="date-content">

      <mat-form-field class="date-item">
        <input matInput [matDatepicker]="mentorStartPicker" placeholder="시작 기간 설정" 
          [value]="initMentorStartDate()" 
          (dateChange)="changeMentorStartDate($event)"
        >
        <mat-datepicker-toggle matSuffix [for]="mentorStartPicker"></mat-datepicker-toggle>
        <mat-datepicker #mentorStartPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="date-item">
        <input matInput [matDatepicker]="mentorEndPicker" placeholder="종료 기간 설정" 
          [value]="initMentorEndDate()" 
          (dateChange)="changeMentorEndDate($event)"
        >
        <mat-datepicker-toggle matSuffix [for]="mentorEndPicker"></mat-datepicker-toggle>
        <mat-datepicker #mentorEndPicker></mat-datepicker>
      </mat-form-field>
    </mat-card-content>

    
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title> 멘티 기간 설정 </mat-card-title>
    </mat-card-header>

    <mat-card-content class="date-content">
      <mat-form-field class="date-item">
        <input matInput [matDatepicker]="menteeStartPicker" placeholder="시작 기간 설정"
          [value]="initMenteeStartDate()"
          (dateChange)="changeMenteeStartDate($event)"
        >
        <mat-datepicker-toggle matSuffix [for]="menteeStartPicker"></mat-datepicker-toggle>
        <mat-datepicker #menteeStartPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="date-item">
        <input matInput [matDatepicker]="menteeEndPicker" placeholder="종료 기간 설정"
          [value]="initMenteeEndDate()"
          (dateChange)="changeMenteeEndDate($event)"
        >
        <mat-datepicker-toggle matSuffix [for]="menteeEndPicker"></mat-datepicker-toggle>
        <mat-datepicker #menteeEndPicker></mat-datepicker>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
      <mat-card-header>
        <mat-card-title> 최대 멘토인원 </mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <mat-select mat-select-trigger
          placeholder="인원"
          [value]="initMentorNumber()"
          (change)="changeMentorNumber($event)"
        >
          <mat-option *ngFor="let mentor of mentorNumbers" [value]="mentor.number">
            {{ mentor.text }}
          </mat-option>
        </mat-select>
      </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
          <mat-card-title> 최대 멘티인원 </mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <mat-select mat-select-trigger
            placeholder="인원"
            [value]="initMenteeNumber()"
            (change)="changeMenteeNumber($event)"
          >
            <mat-option *ngFor="let mentee of menteeNumbers" [value]="mentee.number">
              {{ mentee.text }}
            </mat-option>
          </mat-select>
        </mat-card-content>
      </mat-card>
  
  <mat-card>
    <mat-card-header>
      <mat-card-title> 모임 기간 설정 </mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <mat-select mat-select-trigger
        placeholder="기간"
        [value]="initPeriod()"
        (change)="changePeriod($event)"
      >
        <mat-option *ngFor="let period of mettingPeriods" [value]="period.date">
          {{ period.text }}
        </mat-option>
      </mat-select>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title> 모임 횟수 설정 </mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <mat-select mat-select-trigger
        placeholder="횟수"
        [value]="initCount()"
        (change)="changeCount($event)"
      >
        <mat-option *ngFor="let number of mettingNumbers" [value]="number.number">
          {{ number.text }}
        </mat-option>
      </mat-select>
    </mat-card-content>
  </mat-card>

  
    <button mat-raised-button color="primary" (click)="save()" class="save">
      SAVE
    </button>
 
  
</div>