<mat-card class="card">

  <div class="image-wrapper">
    <img 
      mat-card-image 
      src="assets/icons/ic_face_black_48px.svg" 
      alt="user_icon"
      class="card-image"
    >
  </div>  

  <mat-card-title class="card-title">
    홍길동
  </mat-card-title>

  <mat-card-subtitle class="card-sub-title">
    201533301
  </mat-card-subtitle>

  <mat-card-content class="card-content">
    <button mat-icon-button mat-xs-button [matMenuTriggerFor]="settings">
      <img src="assets/icons/ic_settings_black_18px.svg" alt="">
    </button>
    <mat-menu #settings="matMenu">
      <button mat-menu-item>프로필</button>
      <button mat-menu-item>비밀번호</button>
    </mat-menu>
    <button mat-icon-button mat-xs-button matTooltip="Inbox">
      <img src="assets/icons/ic_email_black_18px.svg" alt="">
    </button>
    <button mat-icon-button mat-xs-button matTooltip="Sign Out" (click)="logout()">
      <img src="assets/icons/ic_exit_to_app_black_18px.svg" alt="">
    </button>
  </mat-card-content>

</mat-card>