<h1 class="header">
  질문게시판
</h1>
  
<div class="table-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef class="id"> ID </mat-header-cell>
      <mat-cell *matCellDef="let element" class="id"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef class="title"> 제목 </mat-header-cell>
      <mat-cell *matCellDef="let element" class="title"> {{element.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef class="author"> 작성자 </mat-header-cell>
      <mat-cell *matCellDef="let element" class="author"> {{element.author}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef class="date"> 날짜 </mat-header-cell>
      <mat-cell *matCellDef="let element" class="date"> {{element.date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="views">
      <mat-header-cell *matHeaderCellDef class="views"> 조회수 </mat-header-cell>
      <mat-cell *matCellDef="let element" class="views"> {{element.views}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="row"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>