<div class="admin-container">
  <md-tab-group
    [dynamicHeight]="true"
  >
    <md-tab label="사용자 목록">
      <app-admin-user></app-admin-user>
    </md-tab>

    <md-tab label="보고서 목록">
      <app-admin-report></app-admin-report>
    </md-tab>

    <md-tab label="멘토방 설정">
      <app-admin-mentoring-setting></app-admin-mentoring-setting>
    </md-tab>

    <md-tab label="멘토방 목록">
      <app-admin-mentoring></app-admin-mentoring>
    </md-tab>

    <md-tab label="설문조사항목입력">ㅁㄴㅇ</md-tab>
    <md-tab label="설문조사결과">ㅁㄴㅇ</md-tab>
    <md-tab label="신입생 엑셀 등록">ㅁㄴㅇ</md-tab>
  </md-tab-group>
</div>