<div class="container mat-elevation-z8">
  
    <mat-toolbar [color]="selectedUsers.length === 0 ? 'primary' : 'accent'">
      <span *ngIf="selectedUsers.length === 0"> 사용자 관리 </span>
      <span *ngIf="selectedUsers.length !== 0"> {{ selectedUsers.length }} selected </span>

      <span class="example-spacer"></span>

      <!-- 생성 버튼 -->
      <button 
        mat-icon-button
        *ngIf="selectedUsers.length === 0"
      >
        <mat-icon>add</mat-icon>
      </button>

      <!-- 수정 버튼 -->
      <button 
        mat-icon-button
        *ngIf="selectedUsers.length === 1"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <!-- 삭제 버튼 -->
      <button 
        mat-icon-button
        *ngIf="selectedUsers.length !== 0"
      >
        <mat-icon>delete</mat-icon>
      </button>
  </mat-toolbar>

    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="selected">

        <mat-header-cell *matHeaderCellDef class="checkbox"> 
          <mat-checkbox 
            [indeterminate]="selectedUsers.length > 0 && selectedUsers.length < 3"
            [checked]="selectedUsers.length === 3"
            (change)="selectAllClick(users, selectedUsers.length)"
          ></mat-checkbox>   
        </mat-header-cell>

        <mat-cell *matCellDef="let element" class="checkbox"> 
          <mat-checkbox
            [checked]="isSelected(element)"
            (change)="selectClick(element);"
          ></mat-checkbox> 
        </mat-cell>

      </ng-container>


      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="auth">
        <mat-header-cell *matHeaderCellDef> Auth </mat-header-cell>
        <mat-cell *matCellDef="let element"> <mat-chip-list><mat-chip>
          {{ element.auth === 1 ? '멘티' : 
             element.auth === 2 ? '멘토' : '관리자'}} </mat-chip></mat-chip-list>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>