.header {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 25px;
}

@media (max-width: 600px) {
    .mentoring-container {
        width: 100%;
        position: absolute;
    }
    .mat-list-text {
        width: 230px;
    }
    .chip {
        margin: auto;
    }
}

@media (min-width: 601px) and (max-width: 1080px) {
    .mentoring-container {
        width: calc(100% - 100px);
        position: absolute;
        margin: 30px 50px;
    }
    .mat-list-text {
        width: 400px;
    }
    .chip {
        margin: auto;
    }
}

@media (min-width: 1081px) {
    .mentoring-container {
        width: calc(100% - 300px);
        position: absolute;
        margin: 30px 150px;
    }
}

.img {
    background-size: cover;
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}

.list-item /deep/.mat-list-text {
    width: 70%;
}

.chip {
    margin: auto;
}

.button {
    flex: 1;
    margin: 10px;
}

.form {
    width: 100%;
}

.full-width {
    width: 100%;
}