<div class="container mat-elevation-z8">
  
    <md-toolbar [color]="selectedUsers.length === 0 ? 'primary' : 'accent'">
      <span *ngIf="selectedUsers.length === 0"> 사용자 테이블 </span>
      <span *ngIf="selectedUsers.length !== 0"> {{ selectedUsers.length }} selected </span>

      <span class="example-spacer"></span>

      <!-- 생성 버튼 -->
      <button 
        md-icon-button
        *ngIf="selectedUsers.length === 0"
      >
        <md-icon>add</md-icon>
      </button>

      <!-- 수정 버튼 -->
      <button 
        md-icon-button
        *ngIf="selectedUsers.length === 1"
      >
        <md-icon>edit</md-icon>
      </button>

      <!-- 삭제 버튼 -->
      <button 
        md-icon-button
        *ngIf="selectedUsers.length !== 0"
      >
        <md-icon>delete</md-icon>
      </button>
  </md-toolbar>



    <md-table #table [dataSource]="dataSource">
      <ng-container mdColumnDef="selected">

        <md-header-cell *mdHeaderCellDef class="checkbox"> 
          <md-checkbox 
            [indeterminate]="selectedUsers.length > 0 && selectedUsers.length < 3"
            [checked]="selectedUsers.length === 3"
            (change)="selectAllClick(users, selectedUsers.length)"
          ></md-checkbox>   
        </md-header-cell>

        <md-cell *mdCellDef="let element" class="checkbox"> 
          <md-checkbox
            [checked]="selectedUsers.length === 3"
            (change)="selectClick(element)"
          ></md-checkbox> 
        </md-cell>

      </ng-container>


      <ng-container mdColumnDef="id">
        <md-header-cell *mdHeaderCellDef> ID </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.id}} </md-cell>
      </ng-container>

      <ng-container mdColumnDef="name">
        <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.name}} </md-cell>
      </ng-container>
  
      <ng-container mdColumnDef="auth">
        <md-header-cell *mdHeaderCellDef> Auth </md-header-cell>
        <md-cell *mdCellDef="let element"> <md-chip-list><md-chip>
          {{ element.auth === 1 ? '멘티' : 
             element.auth === 2 ? '멘토' : '관리자'}} </md-chip></md-chip-list>
        </md-cell>
      </ng-container>
  
      <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
  </div>