<md-sidenav-container class="sidenav-container">
    
  <md-sidenav 
    #sidenav 
    mode="side"
    opened="true"
    class="sidenav"
  >
    <!-- UserComponent -->
    <div class="user">
      UserComponent
    </div>

    <!-- NavigateComponent -->
    <md-list>
      <md-list-item *ngFor="let link of links">
          <a [routerLink]="link.route" class="link">
            <button md-button class="linkButton">
              <md-icon> {{ link.icon }} </md-icon> 
              <span> {{ link.title }} </span>
            </button>
          </a>
      </md-list-item>
    </md-list>
  </md-sidenav>


  <div class="sidenav-header">

    <button md-icon-button class="sidenav-header-button" (click)="sidenav.toggle()"> 
      <md-icon class="md-24" aria-label="Example icon-button with a heart icon">menu</md-icon>
    </button>

    <app-header class="sidenav-header-toolbar"></app-header>

  </div>

  <div class="sidenav-contents">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>